body
{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 1rem;
}

header, section, footer {
    border: 1px grey;
    border-style: dotted;
    padding: 0.5rem;
    padding-bottom: 1rem;
}
h1  {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

p {
    font-size: 1rem;
}

.rinnakkain {
    display: flex;
    flex-wrap: nowrap;
}