html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
    border: 1px solid #69123B;
    border-radius: 10px;
}

h1, h2, h3, ul, li, section {
    margin-bottom: 1rem;
}

footer {
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    background-color: #69123B;
}

/* footer p {
    background-color: #69123B;
} */

header {
    background-color: #69123B;
    color:#FADFD1;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 3.2rem;
    margin-block: 0;
    padding: 1rem;
}
.logo {
    width: 25%;
}

h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 2.4rem;
}
ul {
    margin-inline-start: 1rem;
}
ul li {}
section {}
a {
    color: #69123B;
    text-decoration: none;
    font-style: italic;
    text-align: end;
    margin-right: 2rem;
}
a:hover {
    background-color: #69123B;
    color: #FADFD1;
    padding: 1rem;
}

.heading {
    color: #FADFD1;
    background-color: #69123B;
    padding: 0rem;
}
.heading:hover {
    color: #FADFD1;
    background-color: #69123B;
    text-decoration: underline;
    padding: 0;

}

.ohjelmointi {
    border: 1px solid #69123B;

}
.ohjelmistokehitaja {}
.angular {
    border: 1px solid #69123B;
    margin-bottom: 0;

}

footer a {
    font-style: normal;
    color: #FADFD1;
}

footer p {
    margin: 0;
}
