
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@200&family=Mansalva&family=Roboto:wght@300&family=Turret+Road&display=swap');


body {
    font-size: 62.5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
}

.container {
    width: 768px;
    background-color: rgba(150, 180, 199, 0.502);
    padding: 2rem;
    border-radius: 20px;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.4rem;
}
article {
    font-size: 16px;
}
ol {
    padding: 0 1rem 1rem 1rem;
    list-style: decimal;
}

button {
    background-color: rgba(150 180 199 / 50%);
    color: rgba(4, 70, 120, 0.863);
    font-size: 1.2rem;
    border-radius: 5px;
    border-color: rgb(32, 35, 137, 0.29);
    padding: 0.5rem;
    font-style: italic;
}

.current {
    text-align: right;
    font-size: 16px;
}
